.u-section-1 .u-sheet-1 {
  min-height: 2097px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 363px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 389px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 17px;
}

.u-section-1 .u-image-1 {
  width: 189px;
  height: 242px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.1875rem;
  line-height: 0.8;
  font-weight: normal;
  font-family: Arial, sans-serif;
  margin: 10px 22px 0 -2px;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  font-style: normal;
  margin: -1px 119px 0 -1px;
}

.u-section-1 .u-tabs-1 {
  width: 777px;
  min-height: 2009px;
  height: auto;
  margin: -370px 0 0 auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  margin: 0 589px 0 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  margin: 20px 436px 0 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  margin: 0 502px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: normal;
  margin: 20px 589px 0 0;
}

.u-section-1 .u-text-8 {
  background-image: none;
  margin: 0 502px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: normal;
  margin: 0 481px 0 0;
}

.u-section-1 .u-text-10 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: normal;
  margin: 20px 572px 0 0;
}

.u-section-1 .u-text-12 {
  background-image: none;
  margin: 0 95px 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: normal;
  margin: 23px 563px 0 0;
}

.u-section-1 .u-text-14 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: normal;
  margin: 20px 455px 0 0;
}

.u-section-1 .u-text-16 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: normal;
  margin: 20px 448px 0 0;
}

.u-section-1 .u-text-18 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-19 {
  font-weight: normal;
  margin: 0 481px 0 0;
}

.u-section-1 .u-text-20 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-21 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-22 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-24 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-25 {
  font-weight: normal;
  margin: 20px 481px 0 0;
}

.u-section-1 .u-text-26 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-27 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-28 {
  font-weight: normal;
  margin: 20px 446px 0 0;
}

.u-section-1 .u-text-29 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-30 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-31 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-32 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-33 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-34 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-35 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-36 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-37 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-38 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-39 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-40 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-41 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-42 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-43 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-44 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-45 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-46 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-47 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-48 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-49 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-50 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-51 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  width: 42px;
  height: 42px;
  margin: -1634px auto 0 28px;
}

.u-section-1 .u-image-3 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 79px;
}

.u-section-1 .u-image-4 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 130px;
}

.u-section-1 .u-image-5 {
  width: 42px;
  height: 42px;
  margin: -42px auto 60px 182px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    height: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 41px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1808px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 445px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 445px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 423px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 515px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 38px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 506px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 398px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 391px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 392px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 305px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 392px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 305px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 283px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 375px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 366px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 258px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 251px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 239px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 249px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 192px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 192px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 175px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 166px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 58px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 49px;
  }
}