.u-section-1 .u-sheet-1 {
  min-height: 2097px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 363px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 14px;
}

.u-section-1 .u-image-1 {
  width: 189px;
  height: 242px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.1875rem;
  line-height: 0.8;
  letter-spacing: -2px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin: 11px 22px 0 -2px;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  font-style: normal;
  letter-spacing: -2px;
  margin: -2px 119px 0 -1px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  letter-spacing: 0px;
  line-height: 1;
  font-style: normal;
  margin: 30px 55px 0 0;
}

.u-section-1 .u-tabs-1 {
  width: 777px;
  min-height: 2009px;
  height: auto;
  margin: -493px 0 0 auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: normal;
  margin: 0 589px 0 0;
}

.u-section-1 .u-text-5 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  margin: 20px 436px 0 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  margin: 0 502px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: normal;
  margin: 20px 589px 0 0;
}

.u-section-1 .u-text-9 {
  background-image: none;
  margin: 0 502px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: normal;
  margin: 0 481px 0 0;
}

.u-section-1 .u-text-11 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: normal;
  margin: 20px 572px 0 0;
}

.u-section-1 .u-text-13 {
  background-image: none;
  margin: 0 95px 0 0;
}

.u-section-1 .u-text-14 {
  font-weight: normal;
  margin: 23px 563px 0 0;
}

.u-section-1 .u-text-15 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-text-16 {
  font-weight: normal;
  margin: 20px 455px 0 0;
}

.u-section-1 .u-text-17 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-text-18 {
  font-weight: normal;
  margin: 20px 448px 0 0;
}

.u-section-1 .u-text-19 {
  background-image: none;
  margin: 0 436px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-20 {
  font-weight: normal;
  margin: 0 481px 0 0;
}

.u-section-1 .u-text-21 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-22 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-24 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-25 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-26 {
  font-weight: normal;
  margin: 20px 481px 0 0;
}

.u-section-1 .u-text-27 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-28 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-29 {
  font-weight: normal;
  margin: 20px 446px 0 0;
}

.u-section-1 .u-text-30 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-31 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-32 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-33 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-34 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-35 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-36 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-37 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-38 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-39 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-40 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-41 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-42 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-43 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-44 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-45 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-46 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-47 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-48 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-49 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-50 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-51 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-52 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 363px;
  margin: -1421px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 587px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 17px;
}

.u-section-1 .u-text-53 {
  font-weight: normal;
  letter-spacing: 0px;
  margin: 0 67px 0 0;
}

.u-section-1 .u-text-54 {
  background-image: none;
  letter-spacing: 0px;
  margin: 0 20px 0 2px;
}

.u-section-1 .u-text-55 {
  font-weight: normal;
  letter-spacing: 0px;
  margin: 20px 67px 0 0;
}

.u-section-1 .u-text-56 {
  background-image: none;
  letter-spacing: 0px;
  margin: 0 20px 0 2px;
}

.u-section-1 .u-text-57 {
  font-weight: normal;
  letter-spacing: 0px;
  margin: 20px 67px 0 0;
}

.u-section-1 .u-text-58 {
  background-image: none;
  letter-spacing: 0px;
  margin: 0 20px 0 2px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 363px;
  margin: -681px auto 60px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 96px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 17px;
}

.u-section-1 .u-image-2 {
  width: 42px;
  height: 42px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 51px;
}

.u-section-1 .u-image-4 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 102px;
}

.u-section-1 .u-image-5 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 154px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3405px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 22px;
    margin-left: -2px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 105px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -2650px;
    margin-right: 212px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2707px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 303px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 7px;
  }

  .u-section-1 .u-tabs-1 {
    width: 720px;
    min-height: 2107px;
    margin-top: 95px;
    margin-right: -11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 445px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 445px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 515px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 38px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 506px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 398px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 391px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 379px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 389px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 279px;
    margin-top: -2739px;
    margin-right: 81px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3189px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 270px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 11px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 2509px;
    margin-top: 139px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 392px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 305px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 392px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 305px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 375px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 366px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 258px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 239px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 251px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 239px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 249px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 225px;
    margin-top: -3188px;
    margin-right: 34px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-58 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 238px;
    margin-top: -70px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5191px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 3834px;
    margin-top: 733px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-right: 192px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 192px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 175px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 166px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 58px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 49px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -4457px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -715px;
  }
}